.page-recette {
  h4 {
    border: 2px solid var(--secondary);
    box-shadow: 2px 2px 4px var(--primary);
    padding: 5px;
  }
}

.image-container {
  height: 300px;
  width: 300px;
  margin: 0.5em;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.infos-container {
  border: 2px solid var(--primary);
  padding: 5px;
  border-radius: 5px;
}

.instructions {
  white-space: pre-wrap;
  margin: 2em 0;
  padding: 15px;
  background-color: var(--secondary);
}