.login-form {
  height: 400px;
  width: 90%;
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  justify-content: space-around !important;
  margin: 2em auto;
}

@media screen and (min-width: 640px) {
  .login-form {
    width: 50%;
  }
}

@media screen and (min-width: 940px) {
  .login-form {
    width: 30%;
  }
}