.search-container {
  padding: 10px;
  p {
    text-align: center;
    padding: 10px;
  }
}

.search-icon {
  margin: 0 0.25em;
}

@media screen and (min-width: 640px) {
  .public-page {
    background-color: var(--police-light);
    overflow-x: hidden;
  }
}