.addElement-form {
  width: 80%;
  height: auto;
  justify-content: space-around;
  margin: 2em auto;
  border: 2px solid black;
  padding: 1em;
}

.input-admin {
  margin: 2em;
}

.label-admin {
  margin: 2em;
}

.file-input {
  display: none;
}

.file-label {
  width: 50%;
  border: 1px solid black;
}

.text-admin {
  height: 500px;
  width: 80%;
  margin: 2em;
}

