.register-form {
  height: 400px;
  width: 90%;
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  justify-content: space-around !important;
  margin: 2em auto;
}

.public-input {
  height: 20px;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

.public-btn {
  width: auto;
  height: 30px;
  padding: 5px;
  background-color: var(--police-light);
  color: var(--police-dark);
  border: 1px solid var(--police-light);
  margin: 5px;
}

.public-btn:hover {
  background-color: var(--primary);
  color: var(--police-dark);
}

@media screen and (min-width: 640px) {
  .register-form {
    width: 50%;
  }
}

@media screen and (min-width: 940px) {
  .register-form {
    width: 30%;
  }
}

