.header-container {
  position: fixed;
  height: 75px;
  width: 100%;
  background-color: var(--primary);
  z-index: 60;
}

.title-container {
  margin: auto;
}

h1 {
  text-shadow: 2px 2px 3px var(--police-light);
  font-size: 20px;
}

.header-cale {
  display: block;
  height: 75px;
}

.logo {
  height: 50px;
  width: 50px;
  margin: 10px;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 30px;
  }
}
